* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

body {
  background-color: #eee;
}

.wrapper {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  flex-flow: column;

  background-color: #fff;
}

.box {
  height: 100px;
  min-width: 100px;
}

.one {
  background-color: red;
}

.two {
  background-color: blue;
}

.three {
  background-color: green;
}
