*{
  font-family: veranda;
  margin: 0;
}

body{
  background: #eee;
}

.wrapper{
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

nav{
  background-color #333;
}


nav ul{
  list-style-type: none;
  padding: 0;
}

nav a{
  textdecoration: none;
  text-align: center;
  color: #fff;
  display: block;
  padding: 10px;
}

nav a:hover{
  background-color: #555;

}
a.tw{
  background: url(img/tw.png) no-repeat center; // twitter image
  background-size: 80%;
}

a.fb{
  background: url(img/fb.png) no-repeat center; // facebook image
  background-size: 80%;
}

.social a{
  text-indent: -10000px;
}

.social{
  max-width: 80px;
  margin: 0 auto;
}

nav ul.social{
  flex: 1 1 0;
  display: flex;
}

nav ul.social li{
  flex: 1 1 0;
}

