nav {
  background-color: #333;
}

nav ul {
  padding: 0;

  list-style-type: none;
}

nav a {
  display: block;

  padding: 10px;

  color: #fff;
  text-decoration: none;
  text-align: center;
}

nav a:hover {
  background-color: #555;
}

a.tw {
  background: url(img/tw.png) no-repeat center;
  background-size: 80%;
}

a.fb {
  background: url(img/fb.png) no-repeat center;
  background-size: 80%;
}

.social {
  max-width: 80px;

  margin: 0 auto;
}

.social a {
  text-indent: -10000px;
}

@media screen and (min-width: 768px) {
  nav ul {
    display: flex;
  }
  nav li {
    flex: 1 1 0;
  }
  nav {
    display: flex;
    justify-content: space-between;
  }
}
