* {
  background-color: #eee;
  font-family: veranda;
  margin: 0;
}

.wrapper {
  width: 100%;
  max-width: 960px;

  margin: 0 auto;
}

.flex-container {
  display: flex;

  background-color: #fff;
}

.box {
  height: 100px;
}

.one {
  background-color: red;
  flex: 400px;
}

.two {
  background-color: blue;
  flex-basis: 300px;
}

.three {
  background-color: green;
  flex-basis: 600px;
}
