* {
  background-color: #eee;
  font-family: veranda;
  margin: 0;
}

.wrapper {
  width: 100%;
  max-width: 960px;

  margin: 0 auto;
}

.flex-container {
  background-color: #fff;
  display: flex;
}

.box {
  height: 100px;
  min-width: 100px;
}

.one {
  background-color: red;
  /* flex-grow: 1; */
}

.two {
  background-color: blue;
  /* flex-grow: 2; */
}

.three {
  background-color: green;
  /* flex-grow: 3; */
}
