* {
  background-color: #eee;
  font-family: veranda;
  margin: 0;
}

.wrapper {
  width: 100%;
  max-width: 960px;

  margin: 0 auto;
}

.flex-container {
  background-color: #fff;
  display: flex;
}

.box {
  height: 100px;
  width: 500px;
}

.one {
  background-color: red;
  flex-shrink: 1;
}

.two {
  background-color: blue;
  flex-shrink: 2;
}

.three {
  background-color: green;
  flex-shrink: 3;
}
